<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Post Interview Experience </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form
    [formGroup]="myForm"
    (ngSubmit)="onAdd()"
    *ngIf="this.currentuid === this.createUserId"
  >
    <ion-item>
      <ion-label position="floating">Question</ion-label>
      <ion-textarea formControlName="question"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Answer</ion-label>
      <ion-textarea formControlName="answer"></ion-textarea>
    </ion-item>
    <ion-button
      class="btn"
      expand="full"
      shape="round"
      color="primary"
      fill="solid"
      (click)="onAdd()"
      [disabled]="!myForm.valid"
      >Add
    </ion-button>

    <ion-button
      class="btn"
      expand="full"
      shape="round"
      color="primary"
      fill="solid"
      (click)="onSubmit()"
      >Submit
    </ion-button>
  </form>
  <ion-card *ngFor="let item of conversationsArray">
    <ion-item class="activated">
      <ion-label
        ><span text-wrap>{{ item.question }}</span></ion-label
      >
    </ion-item>

    <ion-card-content> {{ item.answer }} </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="goBack()">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
