<ion-header>
  <ion-toolbar> <ion-title>Answers</ion-title> </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="onPostAnswer()">
    <ion-item>
      <ion-label position="floating">Your Answer</ion-label>
      <ion-textarea formControlName="answer"></ion-textarea>
    </ion-item>
    <ion-button
      class="btn"
      expand="full"
      shape="round"
      color="primary"
      fill="solid"
      (click)="onPostAnswer()"
      [disabled]="!myForm.valid"
      >Submit
    </ion-button>
  </form>
  <ion-grid *ngIf="this.noAnswers">
    <ion-row>
      <ion-col>
        <div text-center>
          <h3>
            There are no available responses on this Question. You can be the
            first to answer this question.
          </h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngFor="let item of (_interviewAnswers | async)">
    <ion-item class="activated">
      <ion-avatar item-left>
        <img src="../../assets/icon/favicon.png" />
      </ion-avatar>
      <div class="answer-box-header">
        <h2 class="answer-box-header__user-name">
          {{ item.userName | titlecase }}
        </h2>
        <p class="answer-box-header__date" *ngIf="item.createDate">
          {{ item.createDate.toDate() | date }}
        </p>
      </div>
      <ion-button fill="clear" slot="end" (click)="onMoreOptions(item)"
        ><ion-icon slot="end" name="more"></ion-icon
      ></ion-button>
    </ion-item>

    <ion-card-content> {{ item.answer }} </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="closeModal()">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
