<ion-header>
  <ion-toolbar> <ion-title>system-design-answers-list</ion-title> </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="onPostAnswer()">
    <ion-item>
      <ion-label position="floating">Answer</ion-label>
      <ion-textarea formControlName="answer"></ion-textarea>
    </ion-item>
    <ion-button
      class="btn"
      expand="full"
      shape="round"
      color="primary"
      fill="solid"
      (click)="onPostAnswer()"
      [disabled]="!myForm.valid"
      >Post Answer
    </ion-button>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-center><h3>Answers</h3></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngFor="let item of (_systemDesignAnswers | async)">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Answer</ion-label>
      <ion-button fill="outline" slot="end"
        ><ion-icon name="thumbs-up" slot="start"></ion-icon>Like</ion-button
      >
    </ion-item>

    <ion-card-content> {{ item.answer }} </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="closeModal()">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
