.card-body {
  &__box {
    &:not(:last-child) {
      border-bottom: 1px solid #f4f2f2;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
.card-subtitle {
  text-transform: uppercase;
  font-size: 0.7rem;
}
.card-text {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
}
.card-text-tech-li {
  text-transform: capitalize;
  font-weight: bold;
}
.interview-title {
  text-transform: capitalize;
}

.answer-box-header {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-bottom: 0.2rem;
  &__date {
    margin: 0;
    font-size: 0.8rem;
  }
  &__user-name {
    margin-top: 0.2rem;
    font-size: 1rem;
    font-weight: bold;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.container {
  overflow-y: scroll;
}

.no-of-questions-grid {
  padding: 0;
}

.no-of-questions-link {
  text-decoration: underline;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.view-questions-cta {
  border-bottom: 0.5px solid var(--ripple-color);
  padding-bottom: 0.1rem;
  font-size: 0.8rem;
  text-transform: none;
}

.view-questions-grid {
  padding: 0;
}

.question {
  width: 100%;
  overflow: hidden;
  height: 30%;
}

.skills {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-content: space-between;
}

.skill {
  margin-bottom: 0.5rem;
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.footer {
  border-top: 1px solid #f4f2f2;
  margin-top: 0.5rem;
}
