<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Interview Experiences </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-content-below-my-video">
  <ion-grid *ngIf="this.noInterviews">
    <ion-row>
      <ion-col>
        <div text-center>
          <h3>
            There are no available Interviews. Please give it a try after
            sometime.
          </h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="content">
    <ion-card
      *ngFor="let item of (_interviews | async)"
      class="fadeInLeft interview-card"
    >
      <ion-item class="interview-header">
        <ion-avatar item-left>
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <div class="answer-box-header">
          <h2
            class="answer-box-header__user-name"
            (click)="onUserNameClick(item.createUserId)"
          >
            {{ item.createUserName | titlecase }}
          </h2>
          <p class="answer-box-header__date" *ngIf="item.createDate">
            {{ item.createDate.toDate() | date }}
          </p>
        </div>
        <ion-button fill="clear" slot="end" (click)="onMoreOptions(item)"
          ><ion-icon slot="end" name="more"></ion-icon
        ></ion-button>
      </ion-item>

      <ion-card-content>
        <div class="card-body">
          <div class="card-body__box">
            <div class="card-subtitle">Client</div>
            <div class="card-text">{{ item.company }}</div>
          </div>
          <div class="card-body__box">
            <div class="card-subtitle">Location</div>
            <div class="card-text">{{ item.location }}</div>
          </div>
          <div class="card-body__box">
            <div class="card-subtitle">Role</div>
            <div class="card-text">{{ item.role }}</div>
          </div>
        </div>
        <div class="footer">
          <div class="skills">
            <ion-badge
              color="primary"
              *ngFor="let tech of item.technologies"
              class="skill"
              >{{ tech | titlecase }}</ion-badge
            >
          </div>
          <div text-center *ngIf="item.noOfQuestions">
            <ion-button fill="clear" slot="end" (click)="onViewInterview(item)"
              ><span class="view-questions-cta"
                >View all {{ item.noOfQuestions | number }} questions</span
              ></ion-button
            >
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-grid *ngIf="!this.lastVisible">
      <ion-row>
        <ion-col>
          <div text-center>
            <h3>
              No More Interviews Present. You can post your Interview
              Experience. To proceed please click the below button.
            </h3>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            expand="full"
            shape="round"
            color="primary"
            fill="solid"
            (click)="onPostInterviewExperience()"
            ><ion-icon slot="end" name="create"></ion-icon>Post my Interview
            Experience</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll
      *ngIf="this.lastVisible"
      (ionInfinite)="doInfinite($event)"
    >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="goBack()">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button> </ion-fab
></ion-content>
