<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Create Interview </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form
    *ngIf="!this.newInterviewIdFromDb"
    class="main-form"
    [formGroup]="myForm"
    (ngSubmit)="onProceed()"
  >
    <ion-item>
      <ion-label position="floating">Interview Title</ion-label>
      <ion-input formControlName="title" autocapitalize></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Client</ion-label>
      <ion-input formControlName="company"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input formControlName="location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-input formControlName="role"></ion-input>
    </ion-item>
    <form #f="ngForm" (ngSubmit)="onAddTechnology(f)" class="tech-form">
      <ion-grid class="tech-grid">
        <ion-row>
          <ion-col size="9">
            <ion-item>
              <ion-input
                placeholder="Enter Technology"
                ngModel
                required
                name="technology"
                autocapitalize
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-auto>
            <ion-button
              class="btn"
              expand="block"
              shape="round"
              color="primary"
              fill="outline"
              size="small"
              type="submit"
              [disabled]="!f.valid"
              >Add</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <ion-list formArrayName="technologies">
      <ion-item-sliding
        *ngFor="let s of myForm.get('technologies').controls; let i = index"
      >
        <ion-item>
          <ion-label floating color="primary">Technology {{ i + 1 }}</ion-label>
          <ion-input type="text" formControlName="{{i}}"></ion-input>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="onDeleteTechnology(i)">
            <ion-icon name="trash"></ion-icon>Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-button
      class="btn"
      expand="full"
      shape="round"
      color="primary"
      fill="solid"
      (click)="onProceed()"
      [disabled]="!myForm.valid"
      >Submit
    </ion-button>
  </form>
  <ion-grid *ngIf="this.newInterviewIdFromDb">
    <ion-row>
      <ion-col>
        <div text-center>
          <h3>
            You have successfully created an Interview. Please click next to
            post your experience.
          </h3>
        </div>
        <ion-button
          class="btn"
          expand="full"
          shape="round"
          color="primary"
          fill="solid"
          (click)="onClickPostExperience()"
          >Next
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
