<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Create Interview </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form
    *ngIf="!this.newInterviewIdFromDb"
    class="main-form"
    [formGroup]="myForm"
    (ngSubmit)="onProceed()"
  >
    <ion-item>
      <ion-label position="floating">Interview Title</ion-label>
      <ion-input formControlName="title" autocapitalize></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Client</ion-label>
      <ion-input formControlName="company"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input formControlName="location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-input formControlName="role"></ion-input>
    </ion-item>
    <ion-list *ngIf="this.selectedTechs && this.selectedTechs.length > 0">
      <ion-list-header> Selected Skills </ion-list-header>
      <ion-item *ngFor="let entry of selectedTechs">
        <ion-label>{{ entry }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button
      class="btn"
      expand="block"
      shape="round"
      color="primary"
      fill="outline"
      size="small"
      (click)="onOpenTechnologiesModal()"
      >Add Skills</ion-button
    >
    <ion-button
      class="btn"
      expand="full"
      shape="round"
      color="primary"
      fill="solid"
      (click)="onProceed()"
      [disabled]="
        !myForm.valid || !this.selectedTechs || this.selectedTechs.length == 0
      "
      >Submit
    </ion-button>
  </form>
  <ion-grid *ngIf="this.newInterviewIdFromDb">
    <ion-row>
      <ion-col>
        <div text-center>
          <h3>
            You have successfully created an Interview. Please click next to
            post your experience.
          </h3>
        </div>
        <ion-button
          class="btn"
          expand="full"
          shape="round"
          color="primary"
          fill="solid"
          (click)="onClickPostExperience()"
          >Next
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
