<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Create Interview </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form
    *ngIf="!this.newInterviewIdFromDb"
    class="main-form"
    [formGroup]="myForm"
    (ngSubmit)="onProceed()"
  >
    <ion-item>
      <ion-label position="stacked">Interview Title</ion-label>
      <ion-input
        clearInput
        formControlName="title"
        placeholder="Enter Title"
      ></ion-input>
    </ion-item>
    <!--
      <ion-item>
        <ion-label position="stacked">Client</ion-label>
        <ion-input
          clearInput
          formControlName="company"
          placeholder="Enter Client Name"
        ></ion-input>
      </ion-item>
    -->
    <ion-item>
      <ion-label>Client</ion-label>
      <ion-button
        class="btn"
        expand="default"
        shape="round"
        color="medium"
        fill="clear"
        size="small"
        (click)="onOpenClientsModal()"
        ><ion-icon slot="end" name="arrow-dropdown"></ion-icon
        ><span
          class="select-text"
          *ngIf="this.selectedClient && this.selectedClient.value"
          >{{ this.selectedClient.value }}</span
        ><span class="select-text" *ngIf="!this.selectedClient"
          >Select One</span
        ></ion-button
      >
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Location</ion-label>
      <ion-input
        clearInput
        formControlName="location"
        placeholder="Enter Location"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Role</ion-label>
      <ion-button
        class="btn"
        expand="default"
        shape="round"
        color="medium"
        fill="clear"
        size="small"
        (click)="onOpenRolesModal()"
        ><ion-icon slot="end" name="arrow-dropdown"></ion-icon
        ><span
          class="select-text"
          *ngIf="this.selectedRole && this.selectedRole.value"
          >{{ this.selectedRole.value }}</span
        ><span class="select-text" *ngIf="!this.selectedRole"
          >Select One</span
        ></ion-button
      >
    </ion-item>
    <ion-item>
      <ion-label>Skills</ion-label>
      <ion-button
        class="btn"
        expand="default"
        shape="round"
        color="medium"
        fill="clear"
        size="small"
        (click)="onOpenTechnologiesModal()"
        ><ion-icon slot="end" name="arrow-dropdown"></ion-icon
        ><span class="select-text">Select Skills</span></ion-button
      >
    </ion-item>
    <ion-list
      *ngIf="this.displaySelectedTechs && this.displaySelectedTechs.length > 0"
    >
      <ion-list-header> Selected Skills </ion-list-header>
      <ion-item *ngFor="let entry of displaySelectedTechs">
        <ion-label>{{ entry.value }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button
      class="btn"
      expand="full"
      shape="round"
      color="primary"
      fill="solid"
      (click)="onProceed()"
      [disabled]="
        !myForm.valid ||
        !this.selectedTechs ||
        this.selectedTechs.length == 0 ||
        !this.selectedRole.key
      "
      >Submit
    </ion-button>
  </form>
  <ion-grid *ngIf="this.newInterviewIdFromDb">
    <ion-row>
      <ion-col>
        <div text-center>
          <h3>
            You have successfully created an Interview. Please click next to
            post your experience.
          </h3>
        </div>
        <ion-button
          class="btn"
          expand="full"
          shape="round"
          color="primary"
          fill="solid"
          (click)="onClickPostExperience()"
          >Next
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
