<ion-header>
  <ion-toolbar> <ion-title>Skills</ion-title> </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-searchbar
      animated
      placeholder="Filter Skills"
      type="text"
      (ionChange)="onFilterTechnology($event)"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-list-header> Skills </ion-list-header>
    <ion-item *ngFor="let entry of selectableTechs">
      <ion-label>{{ entry.value }}</ion-label>
      <ion-button
        fill="clear"
        slot="end"
        (click)="onAddTechnology(entry.key, entry.value)"
        >Add</ion-button
      >
    </ion-item>
  </ion-list>
  <ion-list
    *ngIf="
      this.selectedTechsForDisplay && this.selectedTechsForDisplay.length > 0
    "
  >
    <ion-list-header> Selected Skills </ion-list-header>
    <ion-item *ngFor="let entry of selectedTechsForDisplay">
      <ion-label>{{ entry.value }}</ion-label>
      <ion-button
        fill="clear"
        slot="end"
        (click)="onDeleteTechnology(entry.key)"
        >Remove</ion-button
      >
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="closeModal()">
      <ion-icon
        name="arrow-dropdown"
        *ngIf="!this.selectedTechsKeys || this.selectedTechsKeys.length == 0"
      ></ion-icon>
      <ion-icon
        name="thumbs-up"
        *ngIf="this.selectedTechsKeys && this.selectedTechsKeys.length > 0"
      ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
