<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Sign in </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div text-center><h3>Sign in With</h3></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-button
        expand="full"
        shape="round"
        color="primary"
        fill="solid"
        (click)="onGoogleSignIn()"
        ><ion-icon slot="start" name="logo-google"></ion-icon>Google</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
