<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Sign in </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="my-header">
    <div class="my-header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">myriad</span>
        <span class="heading-primary--sub">interviews</span>
      </h1>

      <ion-button
        class="btn btn--white btn--animated"
        expand="full"
        shape="round"
        color="light"
        fill="solid"
        (click)="onGoogleSignIn()"
        ><ion-icon slot="start" name="logo-google"></ion-icon>SIGN IN WITH
        GOOGLE</ion-button
      >
    </div>
  </div>
  <!--
    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">outdoors</span>
        <span class="heading-primary--sub">is where life happens</span>
      </h1>
      <a href="#" class="btn btn--white btn--animated">discover our tours</a>
    </div>
  -->
  <!--
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div text-center><h3>Sign in With</h3></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-content>
        <ion-button
          expand="full"
          shape="round"
          color="primary"
          fill="solid"
          (click)="onGoogleSignIn()"
          ><ion-icon slot="start" name="logo-google"></ion-icon>Google</ion-button
        >
      </ion-card-content>
    </ion-card>
  -->
</ion-content>
