<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-searchbar
      animated
      placeholder="Filter"
      type="text"
      (ionChange)="onFilter($event)"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-list class="nav-list">
    <div
      *ngFor="let item of (categories | async)"
      (click)="onCategorySelect(item.key)"
    >
      <ion-item *ngIf="item.turnOn">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{ item.category }}
        <ion-badge
          color="primary"
          slot="end"
          *ngIf="item.key !== 'postinterviewexperience'"
          >{{ item.count }}</ion-badge
        >
      </ion-item>
    </div>
  </ion-list>
</ion-content>
